# Data Science EcoSystem

In this notebook, we are going to talk about Data Science Tools and Ecosystem in the matter

Some of the popular languages that Data Scientists use are:

Python.
1. R.
2. SQL.
3. Java.
4. Julia.
5. Scala.
5. C/C++.
6. JavaScript.

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.
9. Scrapy.
10. BeautifulSoup.
11. LightGBM.
12. ELI5.
13. Theano.
14. NuPIC.

##### Create a TABLE with data science tools

|Ide|Programing lenguage|Librery|
|---|-------------------|-------|
|RStudio|R|ggplot|
|Jupyternotebook|Python or more|Numpy|

##### This is the markdown to introduce arithmetic expression examples

In [2]:
x = 12
y = 28
z = x+y
print(z)
a,b = 3,4
c = a*b
print (c)

40
12

In [6]:
minutos = int(input("Introduce how many minutes: "))
def min_hour(minutos):
    horas = minutos / 60
    return horas
horas = min_hour(minutos)
print(f"{minutos} are {horas} in hours")

Introduce how many minutes:  30

30 are 0.5 in hours

### This markdown is to list objectives
#### Objectives of this notebook
1. to pass the ibm Tools for Data Science course.
2. To enjoy this course ðŸ˜Š

#### Author Name
##### CristÃ³bal Torres Morales